@model EmployeeManagement.Common.PagingListModels.PaginatedList<EmployeeManagement.Common.VModels.WorkOrderVM>


@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<div class="col-xs-12 col-sm-4 widget-container-col" id="widget-container-col-2">
    <div class="widget-box widget-color-blue" id="widget-box-2">
        <div class="widget-header">
            <h5 class="widget-title bigger lighter">
                <i class="ace-icon fa fa-table"></i>
                Üstlenilmiş
            </h5>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="ace-icon fa fa-user"></i>
                                User
                            </th>
                            <th>
                                <i></i>
                                İş Emri No
                            </th>
                            <th class="hidden-480">Puan</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="">@item.AssignEmployeeName</td>

                                <td>
                                    <a asp-controller="WorkOrder" asp-action="WorkOrderDetail" asp-route-id="@item.Id">@item.WorkOrderNumber</a>
                                </td>

                                <td class="hidden-480">
                                    <span class="label label-warning">@item.WorkOrderPoint</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       class="btn btn-success @prevDisabled">
        Önceki Sayfa
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       class="btn btn-info @nextDisabled">
        Sonraki Sayfa
    </a>
</div>