
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h3>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Çalışan İzin Talep Listesi
        </small>
    </h3>
</div>


<br />
<div class="col-6 text-left text-white">
    <a class="btn btn-success" asp-controller="EmployeeLeaveRequest" asp-action="Create">Talep Ekle</a>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>Talep Eden</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Sebep</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RequestEmployeeName</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td> @item.EndDate.ToShortDateString()</td>
                        <td>@item.LeaveTypeText</td>
                  
                        @if (item.ApprovedStatus != EnumEmployeeLeaveRequestStatus.Approved)
                        {
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a class="btn btn-success" id="btnRequestAssign"  data-id="@item.Id">Onayla</a>

                                    <a asp-controller="EmployeeLeaveRequest" asp-action="Reject" asp-route-id="@item.Id"  class="btn  btn-danger" >
                                        Reddet
                                    </a>
                                </div>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.span -->
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnRequestAssign").on("click", function () {
                var id = $("#btnRequestAssign").data("id");

                swal({
                    title: 'Onaylamak İstediğinize Emin Misiniz?',
                    text: 'Onaylanan Data Geri Alınamaz!',
                    icon: 'info',
                    buttons: true,
                    dangerMode: true
                }).then((willEditing) => {
                    if (willEditing) {
                        $.ajax({
                            type: "POST",
                            url: "/EmployeeLeaveAssign/Approved/" + id,
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    location.reload();
                                } else {
                                    toastr.error(data.message);
                                }
                            }

                        });
                    }
                });
            });
        });
    </script>

}

